name: Update Space Shooter GIF
on:
  schedule:
    - cron: '0 0 * * *' 
  workflow_dispatch: 

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create assests directory
        run: mkdir -p assets
      
      - uses: cz19707/gh-space-shooter@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          output_path: assets/space-shooter.gif
          strategy: random
